version: 1
validation: sovereign
default_denom: stake
accounts: 
- name: alice
  coins:
  - 20000token
  - 200000000stake
- name: bob
  coins:
  - 10000token
  - 100000000stake
    #client:
    #  openapi:
    #    path: docs/static/openapi.json
faucet:
  name: bob
  coins:
  - 5token
  - 100000stake
validators:
  - name: alice
    bonded: 100000000stake
# 예시 (이미 있을 수 있는 설정)
build:
  proto:
    enable_openapi: false

